.advertisement {
  text-align:center;
  margin-top:50px;
    &__programing_school {
      a {

      }
    }
    &__job_offer {
      margin-top:20px;
      a {
        
      }
    }
}

@media screen and (max-width: 600px){
  .advertisement {
    &__programing_school {
      font-size:0.9rem;
      a {

      }
    }
    &__job_offer {
      font-size:0.9rem;
    }
  }

  
}