@mixin table-title($table-width, $table-color) {
  width: $table-width;
  font-weight: bold;
  background-color: $table-color;
  text-align: center;
}

.results {
  &__keyword {
    font-size: 20px;
    height: 30px;
    padding: 5px 0;
    margin-top: 20px;
  }
  &__no-match {
    height: 200px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
  }
  &__total-count {
    height: 30px;
    font-size:20px;
    padding: 0 0 5px 0;
    margin: 10px 0;
  }
  &__table {
    margin: 0 auto 20px;
    &__container {
      width: 90%;
      margin: 0 auto;
      &-title {
        height: 30px;
        &__name {
          @include table-title(40%, #7fd9d2);
        }
        &__price {
          @include table-title(15%, #7fd9d277);
        }
        &__standard {
          @include table-title(15%, #7fd9d2);
        }
        &__calc {
          @include table-title(30%, #7fd9d277);
        }
      }
    }
    &-row {
      height: 30px;
      &:nth-child(odd) {
        background-color: #e6f0f0;
      }
      &__name {
        min-width: 90px;
        padding: 5px 5px;
        font-weight: bold;
        .generic {
          font-weight: bold;
          color: blue;
          margin-right: 5px;
        }
        .AGgeneric {
          font-weight: bold;
          color: red;
          margin-right: 5px;
        }
        .ingredients {
          font-size: 12px;
          font-weight: normal;
        }
        .samedrug_search {
          display: inline-block;
          width: 80px;
          height: 20px;
          text-align: center;
          vertical-align: middle;
          background-color:#7fd9d2;
          border-radius: 5px;
          line-height:20px;

          &__link {
            font-size: 12px;
            text-decoration: none;
            color: #ffffff;
          }
        }
      }
      &__price {
      }
      &__standard {
        min-width: 60px;
        padding: 5px 5px;
        text-align: center;
      }
      &__calc {
        min-width: 60px;
        padding: 5px 5px;
        text-align: center;
      }
    }
  }
}

td[class^="results__table-row__price_"]{
  min-width: 40px;
  padding: 5px 5px;
  text-align: center;

}

div[class^="calc_result_"] {
  display:inline;
  &:before{
    content: "→"
  }
}

input[id^="calc_input_"] {
  border:1px solid #b3b3b3;
  border-radius:5px;
}

@media screen and (max-width: 600px){
  .results {
    &__keyword {
      font-size: 1rem;
      margin:0;
    }
    &__no-match {
      font-size: 1rem;

    }
    &__total-count {
      font-size: 1rem;
      margin:0;

    }
    &__table {
      &__container {
        &-title {
          display:flex;
          flex-wrap: wrap;
          height:120px;
          padding:10px 10px;
          border:1px solid #b3b3b3;
          border-radius: 5px;
          &__name {
            @include table-title(100%, #7fd9d2);
            margin:3px 3px;
            line-height: 25px;
          }
          &__price {
            @include table-title(47%, #7fd9d277);
            margin:3px 3px;
            line-height: 25px;

          }
          &__standard {
            @include table-title(48%, #7fd9d2);
            margin:3px 3px;
            line-height: 25px;

          }
          &__calc {
            @include table-title(100%, #7fd9d277);
            margin:3px 3px;
            line-height: 25px;

          }
        }
      }
      &-row {
        display:flex;
        flex-wrap: wrap;
        min-height:130px;
        padding:5px 5px;
        border:1px solid #b3b3b3;
        border-radius: 5px;
        margin-top:7px;
        &:nth-child(odd) {

        }
        &__name {
          font-size: 0.9rem;
          width:100%;
          .generic {

          }
          .AGgeneric {

          }
          .ingredients {

          }
          .samedrug_search {
            &__link {

            }
          }
        }
        &__price {
          

        }
        &__standard {
          font-size: 0.8rem;
          &:before {
            content:"/ 1 ";
          }

        }
        &__calc {
          font-size: 0.8rem;

        }
      }
    }
  }
}


td[class^="results__table-row__price_"]{
  min-width: 40px;
  padding: 5px 5px;
  text-align: center;
  font-size: 0.8rem;
  &:after {
    content: "円"
  }
}

div[class^="calc_result_"] {
  display:inline;

  &:before{
    content: "→"
  }
}

input[id^="calc_input_"] {
  border:1px solid #b3b3b3;
  border-radius:5px;
  font-size: 0.8rem;

}