.advertisement
  <a href="//af.moshimo.com/af/c/click?a_id=1897188&p_id=1770&pc_id=3386&pl_id=25841&guid=ON" rel="nofollow"><img src="//image.moshimo.com/af-img/1115/000000025841.png" width="728" height="90" style="border:none;"></a><img src="//i.moshimo.com/af/i/impression?a_id=1897188&p_id=1770&pc_id=3386&pl_id=25841" width="1" height="1" style="border:none;">