.advertisement
  .advertisement__programing_school
    これからプログラミングは必須教養ですョ
    %ul
      %li <a href="//af.moshimo.com/af/c/click?a_id=1909268&p_id=2659&pc_id=5957&pl_id=33941&guid=ON" rel="nofollow">airbnbみたいなサービスが作れるようになるプログラミングスクール【テックサプリ】</a><img src="//i.moshimo.com/af/i/impression?a_id=1909268&p_id=2659&pc_id=5957&pl_id=33941" width="1" height="1" style="border:none;">
      %li <a href="//af.moshimo.com/af/c/click?a_id=1909273&p_id=2309&pc_id=4960&pl_id=30574&guid=ON" rel="nofollow">親身な指導で実力をつけるプログラミングスクール | CodeVillage</a><img src="//i.moshimo.com/af/i/impression?a_id=1909273&p_id=2309&pc_id=4960&pl_id=30574" width="1" height="1" style="border:none;">
      %li <a href="//af.moshimo.com/af/c/click?a_id=1897188&p_id=1770&pc_id=3386&pl_id=25037&guid=ON" rel="nofollow">テックキャンプ　エンジニア転職【無料カウンセリング】</a><img src="//i.moshimo.com/af/i/impression?a_id=1897188&p_id=1770&pc_id=3386&pl_id=25037" width="1" height="1" style="border:none;">
      %li <a href="//af.moshimo.com/af/c/click?a_id=1909275&p_id=1555&pc_id=2816&pl_id=22715&guid=ON" rel="nofollow">はじめてのプログラミングコース【TechAcademy】</a><img src="//i.moshimo.com/af/i/impression?a_id=1909275&p_id=1555&pc_id=2816&pl_id=22715" width="1" height="1" style="border:none;">
      %li <a href="//af.moshimo.com/af/c/click?a_id=1909377&p_id=936&pc_id=1196&pl_id=14835&guid=ON" rel="nofollow">Code Camp　無料体験レッスン予約フォーム</a><img src="//i.moshimo.com/af/i/impression?a_id=1909377&p_id=936&pc_id=1196&pl_id=14835" width="1" height="1" style="border:none;">
      %li <a href="//af.moshimo.com/af/c/click?a_id=1909375&p_id=1024&pc_id=1450&pl_id=14968&guid=ON" rel="nofollow">DIVE INTO CODE</a><img src="//i.moshimo.com/af/i/impression?a_id=1909375&p_id=1024&pc_id=1450&pl_id=14968" width="1" height="1" style="border:none;">
      %li <a href="//af.moshimo.com/af/c/click?a_id=1909272&p_id=2402&pc_id=5229&pl_id=31556&guid=ON" rel="nofollow">Skill Hacks</a><img src="//i.moshimo.com/af/i/impression?a_id=1909272&p_id=2402&pc_id=5229&pl_id=31556" width="1" height="1" style="border:none;">

    -# <a href="//af.moshimo.com/af/c/click?a_id=1897188&p_id=1770&pc_id=3386&pl_id=25841&guid=ON" rel="nofollow"><img src="//image.moshimo.com/af-img/1115/000000025841.png" width="728" height="90" style="border:none;"></a><img src="//i.moshimo.com/af/i/impression?a_id=1897188&p_id=1770&pc_id=3386&pl_id=25841" width="1" height="1" style="border:none;">
  .advertisement__job_offer
    薬剤師の転職サイトまとめ【無料です】
    %ol
      %li <a href="https://ad.presco.asia/cl/?b_id=d7YtMjS4&t_id=1">薬剤師求人.com</a>
      %li <a href="https://ad.presco.asia/cl/?b_id=MJG43xH2&t_id=1">MEDFit薬剤師</a>
      %li <a href="https://ad.presco.asia/cl/?b_id=WgMizpxy&t_id=1">CME薬剤師転職</a>
      %li <a href="https://ad.presco.asia/cl/?b_id=TstwnkNp&t_id=1">お仕事ラボ【薬剤師】</a>