
スポンサーリンク
.google_ads
  %script{:async => "", :src => "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
  / medipraスクエア2020/04/21〜
  %ins.adsbygoogle{"data-ad-client" => "ca-pub-3689967688572589", "data-ad-format" => "auto", "data-ad-slot" => "4320096495", "data-full-width-responsive" => "true", :style => "display:block"}
  :javascript
    (adsbygoogle = window.adsbygoogle || []).push({});


