.search_form
  = search_form_for(@q, url: search_path) do |f|
    .search_form__container
      = f.label :name, "keyword", class:"search_form__container_keyword"
      .seach_form__container_box
        = f.search_field :standard_name_cont_all, required: true, class:"search_form__container_box_box", placeholder:"全角で入力:例）「ゾルゲン」"
      -# = f.text_field ransack_param_translate_normal_or_key(:standard_name),value: ransack_params_array_to_s(ransack_param_translate_normal_or_key(:standard_name))
      -# = f.label :generic
      -# = f.radio_button :generic_or_original_eq, '', {:checked => true}
        
      -# = f.check_box :original_eq, '先発品', {multiple: true}, nil
      -# = f.label :generic, "先発品"

      -# = f.check_box :generic_eq, {multiple: true}, '後発品'
      -#この並び順じゃないと動かない
      -# = f.label :generic, "後発品"
      .seach_form__container_button
        = f.submit "検索", class:"search_form__container_button_button"
    %p
      全角で入力してください。製品名（商品名）で検索できます。キーワードを含む全ての商品が表示されます。
    %p スペースを入れるとAND検索が可能です。規格やジェネリックメーカー名も一緒に検索できます。
    %p 現在、AG（オーソライズドジェネリック）の表示が出なくなっています。予めご了承ください。