= javascript_pack_tag 'hamburger-menu'

.header
  %h1.header_title
    = link_to "薬価検索サイトmedipra", root_path, class:"head-link"
  %p.header_text
    お薬の値段（薬価）を検索・計算することができます（更新：2020/04/01）

  .header_menu
    %nav.header_menu__container
      %ul.header_menu__container__menu-list
        %li 
          =link_to "ホーム", root_path, class: "header_menu__container__menu-list_home"
        %li 
          =link_to "medipraについて", about_medipra_path, class: "header_menu__container__menu-list_about"
        %li 
          =link_to "プライバシーポリシー", privacy_policy_path, class: "header_menu__container__menu-list_privacy"
        %li 
          =link_to "お問い合わせ", contact_path, class: "header_menu__container__menu-list_contact"

          