- set_meta_tags noindex: true
.wrapper
  .default-container
    =render 'top'

    .body
      - breadcrumb :about_medipra
      = render 'breadcrumb'
      .message__container
        %h2.message__container__h2
          medipraについて
        %p
          medipraはお薬の値段（薬価）や後発医薬品（ジェネリック医薬品）を簡易に調べることができるサイトです。今の仕様では医療従事者、特に薬局勤務の薬剤師が使用することが多いと思いますが、アップデートを重ねて、患者さんにも役に立つ仕様にしていく予定です。
        %h3.message__container__h3
          目的
        %p
          このサイトの目的は、「処方箋の値段を事前に明確にすること」です。現在、薬局窓口での負担額は、その時になってみないとわかりません。処方箋を薬局に提出し、薬剤師から薬を受け取るまで自分がいくら払うことになるのかはわかりません。
        %p
          これ、異常なことだと思いませんか？
        %p
          今時、高いレストランでも一人当たりの予算って検討つくじゃないですか。それこそネットで探せばすぐにわかりますよね。でも、医療サービス、特に薬局はわかりません。それはもちろん、処方箋の内容は人によってバラバラだからです。
          しかし、本当の患者ファーストな医療を目指すのであれば、予算も相談しながら、薬の内容や処方量も調節すべきです。
          このサイトは、そんな患者ファーストな医療を実現する一助となれるよう成長していきます。
          どうぞよろしくお願いいたします。
        %h3.message__container__h3
          参考サイト
        %p
          本サイトは「薬価基準収載品目リスト及び後発医薬品に関する情報について」（厚生労働省）のデータを加工・編集して作成しています。
        %p
          参照先：
          %a{ href: 'https://www.mhlw.go.jp/topics/2020/04/tp20200401-01.html'}こちらです（令和2年4月1日適応)
        %h3.message__container__h3
          更新履歴
        %p 2020年3月19日  サイトオープン
        %p 2020年4月1日  新薬価に対応
        %p 2020年4月8日  薬価計算機能追加
        %p 2020年4月21日  レスポンシブ対応

        %h2.message__container__h2
          使い方
        %p
          使い方は至ってシンプル。検索窓に製品名（商品名）、一般名をいれると、そのキーワードを含む薬が全て表示されます。
          <a href="https://gyazo.com/18d43f028f893b992f516a1f08190508"><img src="https://i.gyazo.com/18d43f028f893b992f516a1f08190508.png" alt="Image from Gyazo" width="100%"/></a>

        %h3.message__container__h3
          凡例
        %p
          <a href="https://gyazo.com/73924b16d1dc4828c8055b46dd4aee40"><img src="https://i.gyazo.com/73924b16d1dc4828c8055b46dd4aee40.png" alt="Image from Gyazo" width="100%"/></a>
        %h2.message__container__h2
          免責事項
        %p
          当サイトのコンテンツや情報においては、可能な限り正確な情報を掲載するように努めています。しかし、誤情報が入り込んだり、情報が古くなったりすることもあります。必ずしも正確性を保証するものではありません。
          ご利用は全て自己責任となります。当サイトに掲載された内容によって生じたトラブルや損失・損害等につきまして、一切責任を問わないものとします。
          当サイトからリンクやバナーになどによって他のサイトに移動された場合、移動先サイトで提供される情報、サービス等について一切の責任を負いません。

        %h2.message__container__h2
          プライバシーポリシー
        %p
          プライバシーポリシーは
          %a{href: privacy_policy_path }こちら
          です。

        %h2.message__container__h2
          お問い合わせ
        %p 
          お問い合わせはこちらへ
          = link_to 'お問い合わせフォームへ', contact_path

      
    =render 'footer'


