- set_meta_tags noindex: true
.wrapper
  .default-container
    =render 'top'

    .body
      - breadcrumb :contact
      = render 'breadcrumb'
      .message__container
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScQuHhEGLWUilBgSzr-90EXamJPR9eSPlxlBcsuHbIxpvlv1Q/viewform?embedded=true" width="640" height="1019" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
    =render 'footer'
