.default_container
  =render 'top'
  -# headerを部分テンプレート化

  .body
    =render 'search_form'

    .search-results
      -# 検索結果を表示
      
      .search-results_result
        -# 検索結果の部分テンプレートとして切り出す
        
  .footer


%header