.wrapper
  .default-container
    =render 'top'
    .body
      - breadcrumb :root
      = render 'breadcrumb'
      =render 'search_form'
      = render 'advertisement'
      -# = render 'google_ads'
      = render 'pageup_btn'
    =render 'footer'
= javascript_pack_tag 'pageup_btn'
