.default_conatiner
  .header
    薬価検索サイトmedipra

  .body
    .search-form
      -# 検索フォームを作成
    
    .search-results
      -# 検索結果を表示
      .search-results_result
        -# 検索結果の部分テンプレートとして切り出す
        
  .footer


