- set_meta_tags noindex: true
.wrapper
  .default-container
    =render 'top'

    .body
      - breadcrumb :privacy_policy
      = render 'breadcrumb'
      .message__container
        %h2.message__container__h2
          当サイトが掲載する広告について
          
        %h3.message__container__h3
          Googleアドセンス
        %p
          当サイトでは、第三者配信の広告サービス(Googleアドセンス）を利用しています。
        %p
          広告配信事業者は、広告配信事業者は、ユーザーの興味に応じた商品やサービスの広告を表示するため、当サイトや他サイトへのアクセスに関する情報 『Cookie』(氏名、住所、メール アドレス、電話番号は含まれません) を使用することがあります。
        %p
          またGoogleアドセンスに関して、このプロセスの詳細やこのような情報が広告配信事業者に使用されないようにする方法については、
          %a{ href: 'http://www.google.co.jp/policies/technologies/ads/'}こちら
          をクリックしてください
        -# %h3.message__container__h3
        -#   Amazonアソシエイト
        -# %p
        -#   当サイトは、Amazon.co.jpを宣伝しリンクすることによってサイトが紹介料を獲得できる手段を提供することを目的に設定されたアフィリエイトプログラムである、Amazonアソシエイト・ブログラムの参加者です。
        
        %h3.message__container__h3
          その他広告など
        %p
          当サイトは、以下に示す第三者配信の広告サービスを利用しています。
          広告配信事業者は、広告配信事業者は、ユーザーの興味に応じた商品やサービスの広告を表示するため、当サイトや他サイトへのアクセスに関する情報 『Cookie』(氏名、住所、メール アドレス、電話番号は含まれません) を使用することがあります。

        %h2.message__container__h2
          当サイトが使用しているアクセス解析ツールについて
        %p
          当サイトでは、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。このGoogleアナリティクスはトラフィックデータの収集のためにCookieを使用しています。このトラフィックデータは匿名で収集されており、個人を特定するものではありません。この機能はCookieを無効にすることで収集を拒否することが出来ますので、お使いのブラウザの設定をご確認ください。この規約に関して、詳しくは<a href="http://www.google.com/analytics/terms/jp.html">こちら</a>、または<a href="https://www.google.com/intl/ja/policies/privacy/partners/">こちら</a>をクリックしてください。</p>

        %h2.message__container__h2
          当サイトへのリンクについて
        %p
          当サイトは完全リンクフリーです。トップページ、記事など、正規に公開しているページであれば、どのページにリンクしていただいても問題ありません。ただしインラインフレームの使用や、画像への直リンクなどは禁止させて頂いております。

        %h2.message__container__h2
          免責事項
        %p
          当サイトのコンテンツや情報においては、可能な限り正確な情報を掲載するように努めています。しかし、誤情報が入り込んだり、情報が古くなったりすることもあります。必ずしも正確性を保証するものではありません。
          ご利用は全て自己責任となります。当サイトに掲載された内容によって生じたトラブルや損失・損害等につきまして、一切責任を問わないものとします。
          当サイトからリンクやバナーになどによって他のサイトに移動された場合、移動先サイトで提供される情報、サービス等について一切の責任を負いません。

        %h2.message__container__h2
          著作権について
        %p
          当サイト「medipra」に掲載されている情報についての著作権は放棄しておりません。当サイト記事からの引用に関しましては「引用元の明示」によって無償で引用頂けます。ただし、全文転載はお断りいたしております。引用許可範囲についても、事前予告なくこれを変更する事があります。また、当サイトのRSSを利用し、コンテンツをそのまま盗用することも禁止しています。
      
    =render 'footer'

