
.default_container
  =render 'top'

  .body
    =render 'search_form'

.results
  - @products.each do |product|
    .results__result
      .results__result-name
        = product.name
      .results__result-price
        = "#{(product.price).to_f} 円"
      .results__result_generic
        -if product.generic == 1
          後発品
        - else
          先発品
  = paginate(@products)

